global
    maxconn 100
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    retries 3

# ========== PG17 — Write (Master) ==========
frontend pg17_write_front
    bind *:5000
    default_backend pg17_master

backend pg17_master
    option httpchk GET /master
    http-check expect status 200
    server pg17 pg17:5432 check port 8008 inter 5s fall 3 rise 2
    server pg17r pg17r:5432 check port 8008 inter 5s fall 3 rise 2

# ========== PG17 — Read (Replicas) ==========
frontend pg17_read_front
    bind *:5001
    default_backend pg17_replicas

backend pg17_replicas
    option httpchk GET /replica
    http-check expect status 200
    server pg17 pg17:5432 check port 8008 inter 5s fall 3 rise 2
    server pg17r pg17r:5432 check port 8008 inter 5s fall 3 rise 2

# ========== PG18 — Write (Master) ==========
frontend pg18_write_front
    bind *:5002
    default_backend pg18_master

backend pg18_master
    option httpchk GET /master
    http-check expect status 200
    server pg18 pg18:5432 check port 8008 inter 5s fall 3 rise 2
    server pg18r pg18r:5432 check port 8008 inter 5s fall 3 rise 2

# ========== PG18 — Read (Replicas) ==========
frontend pg18_read_front
    bind *:5003
    default_backend pg18_replicas

backend pg18_replicas
    option httpchk GET /replica
    http-check expect status 200
    server pg18 pg18:5432 check port 8008 inter 5s fall 3 rise 2
    server pg18r pg18r:5432 check port 8008 inter 5s fall 3 rise 2

# ========== Stats ==========
frontend stats_front
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:admin
